.imagem{
    display: flex;
    height: 35vh;
    justify-content: end;
    align-items: end;
}

.imagem img{
    position: absolute;
    bottom: 4em;
    right: 0em;
}

img{
    width: 25em;
    margin-right: 10em;
}

.pensamento img{
    bottom: 27em;
    width: 35em;
    position: absolute;
    left: 50em;
}

.pensamento .hover{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 27.5em;
    left: 50em;
    width: 6 0em;
    height: 50em;
}

.texto{
    display: flex;
    position: absolute;
    top: 30em;
    left: 3em;
    z-index: 1;
    transition: 0.5s;
}

.texto label{
    font-size: 2.3em;
}

.texto input{
    position: relative;
    position: relative;
    top: 1.2em;
    right: 8.95em;
    font-size: 2.3em;
    width: 1.2em;
    padding-left: 0.4em;
    text-align: center;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    background-color: transparent;
}

.t1{
    width: 5em;
    position: relative;
    left: 1em;
}

.t2{
    width: 6em;
    position: relative;
    top: 1.2em;
    right: 7.5em;
}

.t3{
    position: relative;
    top: 1.2em;
    right: 8.8em;
}

.t4{
    width: 5em;
    position: relative;
    top: 2.5em;
    right: 16em;
}

.t5{
    width: 5em;
    position: relative;
    top: 2.5em;
    right: 17.5em;
}

.texto > .t1{
    margin-left: 2.8em;
}

.texto > .t2{
    margin-left: 1.3em;
}

button{
    display: flex;
    position: absolute;
    left: 11em;
    bottom: 11.6em;
    height: 3.5em;
    align-items: center;
    border-radius: 1em;
    opacity: 0;
    transition: 1s;
    z-index: 3;
    cursor: pointer;
}

button > p{
    font-size: 2em;
}

.vermelho{
    color: black;
    animation: preto 5s infinite;
}

.azul{
    color: black;
    animation: preto 5s infinite;
}

.verde{
    color: black;
    animation: preto 5s infinite;
}

.amarelo{
    color: black;
    animation: preto 5s infinite;
}

.hover:hover > .texto{
    position: absolute;
    top: 28.8em;
}

.hover:hover > button{
    opacity: 100;
}

p{
    font-size: 5em;
}

@keyframes preto{
    0%{color: #000;}
    20%{color: red;}
    40%{color: blue;}
    60%{color: green;}
    80%{color: yellow;}
    100%{color: #000;}
}