body{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    padding: 0;
    color: white;
    background: rgb(255,181,0);
    background: linear-gradient(0deg, rgba(255,181,0,1) 0%, rgba(207,147,0,1) 75%, rgba(0,0,0,1) 100%); 
}

a{
    color: white;
}
/* 
h1{
    background-color: orange;
    border: 1px solid red;
} */

h2{
    margin-top: 50%;
    background-color: rgb(17, 17, 17);
    font-size: 18px;
}
/* 
h3{
    background-color: black;
    border: 1px solid red;
} */

.container{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

/* .cartao{
    border: 1px solid red;
} */

/* .cartao_texto{
    border: 1px solid black;
    background-color: burlywood;
} */

.botao_redirecionador{  
    border: 1px solid white;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: 3%;
}

#adivinhacao{
    background-image: url(../imagens/21125-forca-jogo-de-palavras-para-as-criancas-3468244872.jpg);
    background-size: 300px 310px;
}

#bissexto{
    background-image: url(../imagens/pngtree-calendar-and-clock-icon-png-image_8309253-3458236125.png);
    background-size: 300px 300px;
}

#media{
    background-image: url(../imagens/sua-escola-e-uma-empresa-3480221289.jpg);
    background-size: 300px 300px;
}

#gorjeta{
    background-image: url(../imagens/restaurantes-en-la-CDMX-para-una-comida-de-negocios-jg-grill-1896071869.jpg);
    background-size: 300px 300px;
}

#saudacao{
    background-image: url(../imagens/saudacao_1-3195952736.jpg);
    background-size: 300px 300px;
}

#filmes{
    background-image: url(../imagens/hqdefault-947882983.jpg);
    background-size: 300px 300px;
}

#frete{
    background-image: url(../imagens/Frete-1024x390-4293681222.png);
    background-size: 300px 300px;
}

#jogos{
    background-image: url(../imagens/a745e581-7955-4049-84fc-36dd7e3904f7-1015571073.jpg);
    background-size: 300px 300px;
}

#senha{
    background-image: url(../imagens/dica-senha-889683996.jpg);
    background-size: 300px 300px;
}

#roupas{
    background-image: url(../imagens/how-to-organize-your-closet-2648411-HERO-01.1-bd2dd22bb1934f798dc92202ed35dd92-201223902.jpg);
    background-size: 300px 300px;
}

#conversor{
    background-image: url(../imagens/Money_Banknotes_Dollars_472979_2560x1440-4114813708.jpg);
    background-size: 300px 300px;
}
